* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2cfe0;
  border-radius: 20px;
  border: none;
}
